body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  color: #1B1A1A; }
  body .sub-heading h1 {
    font-size: 1.4em;
    color: #165415; }
  body .sub-heading-alt {
    margin: 2em 0;
    width: 100%;
    color: #1B1A1A;
    font-weight: bold;
    font-size: 1.6em;
    text-align: center; }
    body .sub-heading-alt h2 {
      font-size: 1em; }

@media screen and (min-width: 768px) {
  body .sub-heading h1 {
    font-size: 1.6em; }
  body .sub-heading-alt {
    font-size: 2em; }
    body .sub-heading-alt h2 {
      font-size: 1.3em; } }

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  position: relative; }

html {
  box-sizing: border-box; }
  html body {
    opacity: 0;
    background-color: #fbfbfb;
    height: 100%; }
    html body .grid {
      margin: 0 auto; }
    html body #mast-head, html body #about, html body .proj-heading-outer {
      max-width: 80em;
      margin: 0 auto; }
    html body .hidden {
      display: none; }
    html body .container {
      padding: 0 2em; }

.button {
  display: inline-block;
  margin: 1em;
  padding: 1em;
  font-weight: bold;
  border: 2px solid black;
  font-size: 1em;
  text-decoration: none;
  color: black;
  transition: 250ms linear all; }

.button:hover, .button:focus {
  text-decoration: none; }

.button-projects, .text-link {
  border: none; }

.button-projects {
  color: #165415;
  border-bottom: 2px solid #165415; }

.text-link {
  color: #EC644B; }

.button-nav:hover, .active {
  background-color: #00B16A;
  color: #e8e8e8; }

@media screen and (min-width: 550px) {
  .button-projects {
    font-size: 1.5em;
    margin: 0.5em; } }

@media screen and (min-width: 768px) {
  .button-projects:hover {
    background-color: #165415;
    color: white; } }

.resume-link-nav {
  text-align: right;
  padding: 2em; }

.resume-link {
  display: inline-block;
  font-size: 0.8em;
  padding: 1em;
  text-decoration: none;
  background-color: #165415;
  color: #fbfbfb; }
  .resume-link i {
    transition: 200ms ease-in-out all; }

@media screen and (min-width: 550px) {
  .resume-link {
    font-size: 1.1em; } }

@media screen and (min-width: 768px) {
  .resume-link:hover i {
    transform: translateX(4px); } }

header {
  padding: 5em 0 2em 0;
  margin: auto; }
  header .mast-head-heading {
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    font-size: 3.5em;
    font-weight: bolder;
    margin-bottom: 0; }
    header .mast-head-heading span {
      opacity: 0; }
  header .mast-head-intro p {
    color: #EC644B;
    font-size: 1.5em; }
  header .mast-head-next-mobile, header .mast-head-next-desktop {
    text-align: center; }
    header .mast-head-next-mobile p, header .mast-head-next-desktop p {
      color: #1B1A1A;
      font-size: 1em; }
  header .mast-head-next-desktop {
    display: none; }

.my-portrait {
  width: 77%;
  margin: 1em;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.5);
  display: none; }

@media screen and (min-width: 400px) {
  header .mast-head-heading {
    font-size: 4.5em; } }

@media screen and (min-width: 550px) {
  header .mast-head-heading {
    font-size: 3.5em; } }

@media screen and (min-width: 768px) {
  header .mast-head-heading {
    font-size: 5.5em;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    width: 49%; }
  header .mast-head-intro {
    display: inline-block;
    width: 50%; }
  header .mast-head-next-mobile {
    display: none; }
  header .mast-head-next-desktop {
    display: block; }
  .my-portrait {
    display: inline-block; } }

#about {
  padding: 2em 2em 0 2em; }
  #about .about-heading, #about .about-content {
    width: 100%;
    display: inline-block;
    vertical-align: top; }
  #about .about-heading h1 {
    font-size: 1.4em;
    color: #EC644B; }
  #about .about-content {
    display: block;
    margin: 0 auto; }
    #about .about-content p {
      font-size: 1em; }
    #about .about-content .about-button-wrapper {
      width: 100%;
      text-align: center; }
  #about .about-more-content {
    width: 100%;
    margin-top: 3em; }
    #about .about-more-content p {
      margin: 1em auto;
      max-width: 60em;
      text-indent: 1em; }
  #about #quote-render {
    padding: 4em 0;
    border-bottom: 1px solid #6C7A89; }
  #about #quote {
    font-style: italic; }

@media screen and (min-width: 768px) {
  #about {
    padding-left: 5em;
    padding-right: 5em; }
    #about .about-heading h1 {
      font-size: 1.6em; }
    #about #quote-render {
      padding: 10em 0; } }

#projects .proj-sub-heading {
  margin: 2em;
  color: #1B1A1A;
  font-size: 1.2em;
  text-align: center; }

#projects .project-main, #projects .project-details {
  display: block; }

#projects .project {
  padding-top: 4em;
  padding-bottom: 4em;
  border-bottom: 1px solid #6C7A89; }
  #projects .project h2 {
    margin-bottom: 1em;
    font-size: 1.6em;
    text-align: center; }
  #projects .project .project-flex-container {
    display: flex;
    flex-flow: column wrap; }
  #projects .project .project-flex-container div {
    padding: 0 1em;
    flex: 2; }
  #projects .project .project-main, #projects .project .project-details {
    width: 100%; }
  #projects .project .project-main .proj-pic {
    margin: 2em auto;
    width: 100%;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.5); }
  #projects .project .project-details, #projects .project .project-links {
    margin-top: 0;
    text-align: center; }
  #projects .project .project-details p {
    margin: 0 auto;
    max-width: 30em;
    text-align: left; }
  #projects .project .project-links ul {
    padding: 0; }
  #projects .project .project-links li {
    display: inline-block; }

#projects .inner-project-content {
  max-width: 1090px;
  margin: 0 auto; }

@media screen and (min-width: 550px) {
  #projects .project .project-details {
    margin-bottom: 4em; }
    #projects .project .project-details p {
      font-size: 1.1em; } }

@media screen and (min-width: 768px) {
  #projects .project-main, #projects .project-details {
    display: inline-block; }
  #projects .project {
    padding-top: 6em;
    padding-bottom: 6em;
    margin: 0 3em; }
    #projects .project .project-flex-container {
      flex-flow: row wrap; }
    #projects .project .project-flex-container div {
      flex: 1; }
    #projects .project .project-main {
      width: 55%; }
    #projects .project .project-details {
      float: right;
      width: 40%;
      margin-top: 2em; }
  #projects .inner-project-content {
    padding: 0 2em; } }

#mast-footer {
  background-color: #1B1A1A;
  min-height: 20%;
  color: #e8e8e8; }
  #mast-footer p {
    text-align: center;
    margin: 0;
    padding-top: 3em; }
  #mast-footer #social {
    margin: 0 auto;
    padding: 0;
    text-align: center; }
    #mast-footer #social li {
      display: inline-block;
      text-decoration: none;
      margin: 1em 0.3em;
      font-size: 0.9em; }
      #mast-footer #social li a {
        color: #e8e8e8;
        padding: 0.8em; }
  #mast-footer #footer-email {
    text-align: center;
    color: white;
    letter-spacing: 1.5px;
    padding-top: 1em;
    padding-bottom: 3em; }
    #mast-footer #footer-email a {
      color: #e8e8e8; }

@media screen and (min-width: 400px) {
  #mast-footer #social li {
    font-size: 1.2em; } }

@media screen and (min-width: 550px) {
  #mast-footer #social li a {
    padding: 1em 1.5em; } }

@media screen and (min-width: 768px) {
  #mast-footer #social li {
    font-size: 1.3em; }
    #mast-footer #social li a {
      transition: 250ms ease-in-out all; }
    #mast-footer #social li a:hover {
      color: #9e9e9e; }
  #mast-footer #footer-email {
    display: none; } }
