#about {
    // padding: 2em 2em 0 2em;
    .about-heading,
    .about-content {
        width: 100%;
        display: inline-block;
        vertical-align: top;
    }
    .about-heading {
        h1 {
            font-size: 1.4em;
            color: $my-coral;
        }
    }
    .about-content {
        display: block;
        margin: 0 auto;
        p {
            font-size: 1em;
        }
        .about-button-wrapper {
            width: 100%;
            text-align: center;
        }
    }
    .about-more-content {
        width: 100%;
        margin-top: 3em;
        p {
            margin: 1em auto;
            max-width: 60em;
            text-indent: 1em;
        }
    }

    #quote-render {
        padding: 4em 0;
        border-bottom: 1px solid #6c7a89;
    }

    #quote {
        font-style: italic;
    }
}

@media screen and ($tablet) {
    #about {
        // padding-left: 5em;
        // padding-right: 5em;
        .about-heading {
            h1 {
                font-size: 1.6em;
            }
        }
        .about-content {
        }
        #quote-render {
            padding: 10em 0;
        }
    }
}
