#about {
	// padding-top: 4em;
	// padding-bottom: 4em;
	padding: 2em;
	// padding-bottom: 4em;
	.about-heading, .about-content {
		width: 100%;
		display: inline-block;
		vertical-align: top;
	}
	.about-heading {
		h1 {
			font-size: 1.4em;
			color: $my-coral;
			// text-align: center;
		}
	}
	.about-content {
		display: block;
		// max-width: 60em;
		margin: 0 auto;
		p {
			font-size: 1em;
		}
		.about-button-wrapper {
			width: 100%;
			text-align: center;
		}
	}
	.about-more-content {
		width: 100%;
		margin-top: 3em;
		p {
			margin: 1em auto;
			max-width: 60em;
			text-indent: 1em;
		}
	}

	#quote-render {
		margin: 1em 0;
		padding: 4em 0;
		// border-top: 1px solid lightgrey;
		// border-bottom: 1px solid lightgrey;
	}

	#quote {
		font-style: italic;
	}
}

@media screen and ($tablet){
	#about {
		margin-top: 6em;
		.about-heading, .about-content {
			// width: 45%;
			// padding-right: 1em;
		}
		.about-heading {
			h1 {
				font-size: 1.6em;
			}
		}
		.about-content {
			p {
				// font-size: 1em;
			}
		}
		#quote {

		}
	}
}

// @media screen and ($tablet){
// 	#about {
// 		margin-top: 6em;
// 	}
// }



