.button {
	display: inline-block;
	margin: 1em;
	padding: 1em;
	font-weight: bold;
	border: 2px solid black;
	font-size: 1em;
	text-decoration: none;
	color: black;
	transition: 250ms linear all;
}

.button:hover, .button:focus {
	text-decoration: none;
}

.button-projects, .text-link {
	border: none;
}

.button-projects {
	color: $my-green;
}

.text-link {
	color: $my-coral;
}

// Animations

.button-nav:hover, .active {
	background-color: #00B16A;
	color: rgba(232, 232, 232, 1);
}

//Media Queries

@media screen and ($fablet){

	.button-projects {
		font-size: 1.5em;
		margin: 0.5em;
	}
}

@media screen and ($tablet){
	.button-projects:hover {
		background-color: $my-green;
		color: white;
	}
}