// Animations

@-webkit-keyframes my-links {
    0%   {color: rgba(232, 232, 232, 1);}
    50%  {color: grey;}
    100% {color: $my-coral;}
}

@keyframes my-links {
    0%   {color: rgba(232, 232, 232, 1);}
    50%  {color: grey;}
    100% {color: $my-coral;}
}

#mast-footer {
	background-color: #1B1A1A;
	min-height: 20%;
	color: rgba(232, 232, 232, 1);
	p {
		text-align: center;
		margin: 0;
		padding-top: 3em;
	}
	#social {
		margin: 0 auto;
		padding: 0;
		text-align: center;
		li {
			display: inline-block;
			text-decoration: none;
			margin: 1em 0.3em;
			font-size: 0.9em;
			a {
				color: rgba(232, 232, 232, 1);
				padding: 0.8em;
			}
		}
	}
	#footer-email {
		text-align: center;
		color: white;
		letter-spacing: 1.5px;
		padding-top: 1em;
		padding-bottom: 3em;
		a {
			color: rgba(232, 232, 232, 1);
		}
	}
}

//Media Queries

@media screen and ($mobile2){
	#mast-footer {
		#social {
			li {
				font-size: 1.2em;
			}
		}
	}	
}

@media screen and ($fablet){
	#mast-footer {
		#social {
			li {
				a {
					padding: 1em 1.5em;
				}
			}
		}
	}
}

@media screen and ($tablet){
	#mast-footer {
		#social {
			li {
				font-size: 1.3em;
			}
		}
		#footer-email {
			display: none;
		}
	}
}

@media screen and ($desktop){
	#mast-footer {
		#social {
			li {
				a:hover {
					-webkit-animation: my-links 1s infinite;
					animation: my-links 1s infinite;
					-webkit-animation-direction: alternate;
					animation-direction: alternate;
				}
			}
		}
	}
}


