*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
}

html {
	box-sizing: border-box;
	height: 100%;
	body {
		opacity: 0;
		.grid {	
			margin: 0 auto;
		}
		background-color: rgba(232, 232, 232, 1);
		height: 100%;
		#mast-head, #about, .proj-heading-outer {
			max-width: 80em;
			margin: 0 auto;
		}
		#mast-content {
			// padding-bottom: 5em;
		}
		.hidden {
			display: none;
		}
		.container {
			padding: 0 2em;
		}
	}
}

#about {
	
}



