.resume-link-nav {
	text-align: right;
	padding: 2em;
}

.resume-link {
	display: inline-block;
	font-size: 0.8em;
	padding: 1em;
	text-decoration: none;
	background-color: $my-green;
	color: $bg;

	i {
		transition: 200ms ease-in-out all;
	}
}

@media screen and ($fablet){
	.resume-link {
		font-size: 1.1em;
	}
}

@media screen and ($tablet){
	.resume-link:hover i {
		transform: translateX(4px);
	}
}