// Viewports

$desktop: "min-width: 1024px";
$tablet: "min-width: 768px";
$tablet-max: "max-width: 768px";
$fablet: "min-width: 550px";
$mobile2: "min-width: 400px";

// $larger-image-breakpoints: "min-width: 550px"


//Colors

$my-coral: #EC644B;
$bg: #fbfbfb;
$my-green: #165415;