<section class="projects">
	<h1>My Projects</h1>
	<div class="container projects-content" ng-repeat="project in projects.projectsArray">
		<div ng-if="$index % 2 === 0" class="row">
			<h2>{{project.title}}</h2>
			<div class="col-md-6 left-column">
				<a href= "{{project.link}}"><img ng-src ="{{project.image}}"></a>
			</div>
			<div class="col-md-6 right-column">
				<p>{{project.blurb}}</p>
			</div>
		</div>
		<div ng-if="$index % 2 !== 0" class="row">
			<h2>{{project.title}}</h2>
			<div class="col-md-6 left-column">
				<p>{{project.blurb}}</p>
			</div>
			<div class="col-md-6 right-column">
				<a href= "{{project.link}}"><img ng-src ="{{project.image}}"></a>
			</div>
		</div>
	</div>
</section>