<section id="projects">
	<!-- <h1>My Projects</h1> -->
	<div class="container projects-content" ng-repeat="project in projects.projectsArray">
		<div ng-if="$index % 2 === 0" class="project">
			<h2>{{project.title}}</h2>
			<div class="left-column">
				<div>
					<img class="proj-pic" ng-src ="{{project.image}}">
					<ul>
						<li class="button button-projects"><a target="_blank" href= "{{project.link}}">Demo</a></li>
						<li class="button button-projects"><a target="_blank" href="{{project.ghlink}}">Repo</a></li>
					</ul>
				</div>
			</div>
			<div class="right-column">
				<p>{{project.blurb}}</p>
			</div>
		</div>
		<div ng-if="$index % 2 !== 0" class="project">
			<h2>{{project.title}}</h2>
			<div class="left-column">
				<p>{{project.blurb}}</p>
			</div>
			<div class="right-column">
				<div>
					<img class="proj-pic" ng-src ="{{project.image}}">
					<ul>
						<li class="button button-projects"><a target="_blank" href= "{{project.link}}">Demo</a></li>
						<li class="button button-projects"><a target="_blank" href="{{project.ghlink}}">Repo</a></li>
					</ul>
				</div>	
			</div>
		</div>
	</div>
</section>