<section id="projects">
	<!-- <h1>My Projects</h1> -->
	<div class="container projects-content" ng-repeat="project in projects.projectsArray">
		<div class="project">
			<h2>{{project.title}}</h2>
			<div class="project-main">
				<div>
					<img class="proj-pic" ng-src ="{{project.image}}">
				</div>
			</div>
			<div class="project-details">			
				<p>{{project.blurb}}</p>
				<ul>
					<li><a class="button button-projects" target="_blank" href= "{{project.link}}">Demo</a></li>
					<li><a class="button button-projects" target="_blank" href="{{project.ghlink}}">Repo</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>