<footer>
	<p>Get in touch with me.</p>
	<ul id="social">
		<li><a target="_blank" href="https://www.facebook.com/greg.federico"><i class="fa fa-facebook"></i></a></li>
		<li><a target="_blank" href="https://www.linkedin.com/in/gregfederico"><i class="fa fa-linkedin"></i></a></li>
		<li><a target="_blank" href="https://twitter.com/GFed53"><i class="fa fa-twitter"></i></a></li>
		<li><a target="_blank" href="https://github.com/gfed53"><i class="fa fa-github"></i></a></li>
		<li><a target="_blank" href="mailto:gfederico7153@gmail.com"><i class="fa fa-envelope"></i></a></li>
	</ul>
<!-- 	<div id="footer-email">
		<a href="">gfederico7153@gmail.com</a>
	</div> -->
</footer>