<ul class="nav nav-email">
	<li><a href="mailto:gfederico7153@gmail.com<">gfederico7153@gmail.com</a></li>
</ul>
<div class="nav nav-mobile"><img src="images-min/gF.png" alt=""></div>

<ul class="nav nav-buttons">
	<li><a class="button" ui-sref="home" ui-sref-active="active">Home</a></li>
	<li><a class="button" ui-sref="about" ui-sref-active="active">About Me</a></li>
	<li><a class="button" ui-sref="projects" ui-sref-active="active">My Work</a></li>
</ul>

<div class="dropdown">
	<div class="dropbtn">
		<span></span>
		<span></span>
		<span></span>
	</div>
	<div id="menu-dropdown-content" class="dropdown-content">
		<a ui-sref="home" ui-sref-active="active">Home</a>
		<a ui-sref="about" ui-sref-active="active">About Me</a>
		<a ui-sref="projects" ui-sref-active="active">My Work</a>
	</div>
</div>
