<ul class="nav nav-email">
	<li>gfederico7153@gmail.com</li>
</ul>
<div class="nav nav-mobile"><img src="images-min/gF.png" alt=""></div>

<ul class="nav nav-buttons">
	<li><a class="button" ui-sref="root" ui-sref-active="active">Home</a></li>
	<li><a class="button" ui-sref="about" ui-sref-active="active">About Me</a></li>
	<li><a class="button" ui-sref="projects" ui-sref-active="active">My Work</a></li>
</ul>

<div class="dropdown">
  <div class="dropbtn">
  	<!-- <div></div> -->
  	<span></span>
  	<span></span>
  	<span></span>
  </div>
  <div id="menu-dropdown-content" class="dropdown-content">
	<a ui-sref="root" ui-sref-active="active">Home</a>
	<a ui-sref="about" ui-sref-active="active">About Me</a>
	<a ui-sref="projects" ui-sref-active="active">My Work</a>
  </div>
</div>
<!-- 
<nav class="top-bar" data-topbar role="navigation">
	<ul class="title-area">
		<li>gfederico7153@gmail.com</li>
		<li class="toggle-topbar menu-icon">
			<a href="#"><span></span></a>
		</li> 
	</ul>

	<section class="top-bar-section">
		<ul class="right">
			<li class="nav-button"><a ui-sref="root" ui-sref-active="active">Home</a></li>
			<li class="nav-button"><a ui-sref="about" ui-sref-active="active">About Me</a></li>
			<li class="nav-button"><a ui-sref="projects" ui-sref-active="active">My Work</a></li>
		</ul>
	</section>
</nav>
 -->
<!-- <div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">gfederico7153@gmail.com</li>
    </ul>
  </div>
  <div class="top-bar-right">
      <li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>	
  </div>
</div> -->
<!-- 

<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>
<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Site Title</li>
      <li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
  <ul class="dropdown menu" data-dropdown-menu>
 	<li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li> 	
  </ul>
  </div>
</div>
 -->
