<div class="nav nav-icon"><a ui-sref="home" ui-sref-active="icon-active"><img src="images-min/gF.png" alt=""><p id="icon-text"><i class="fa fa-toggle-left"></i> Back home</p></a></div>

<ul class="nav nav-buttons">
	<li><a class="button button-nav" ui-sref="about" ui-sref-active="active">About Me</a></li>
	<li><a class="button button-nav" ui-sref="projects" ui-sref-active="active">My Work</a></li>
	<li><a class="button button-nav" href="mailto:gfederico7153@gmail.com">Contact</a></li>
</ul>

<div class="dropdown">
	<div class="dropbtn">
		<span></span>
		<span></span>
		<span></span>
	</div>
	<div id="menu-dropdown-content" class="dropdown-content">
		<a ui-sref="about" ui-sref-active="active">About Me</a>
		<a ui-sref="projects" ui-sref-active="active">My Work</a>
		<a href="mailto:gfederico7153@gmail.com">Contact</a>
	</div>
</div>
