<div id="about">
	<section class="mast-about-section">
		<div class="about-heading">
			<h1>What I Do</h1>
		</div>
		<div class="about-content">
			<p class="about-content-maintext">Front end web developer with rapid-level learning abilities, looking for exciting and fulfilling job opportunies.</p>
			<div class="about-button-wrapper">
				<input class="about-button" type="button" value="Read More">
			</div>
			<div id="extra-about-me" class="about-more-content hidden">
				<p>I am a front end web developer looking to gain experience in the field. I've always had an interest in technology of all avenues, and since around October of 2014 have started to learn various languages on my own.</p>
				<p>I then studied front end web development through <a href="http://www.thinkful.com">Thinkful's</a> Front End Career Path. I went from learning the fundamental building blocks of HTML/CSS, version control of GIT, and core concepts of Javascript, to responsive design/mobile-first web development, CSS preprocessors, some game development, and eventually tackling the extensive framework of Angular, all the while learning to use various libraries to make life as a web developer easier and more enjoyable.</p>
				<p>What I hope to achieve in the near future is, as mentioned before, experience in the field. I'm at that stage where I've cultivated a fairly great deal of knowledge and have applied it, but not yet in a professional setting. With experience I'll be able to hone my skills as well as gauge my strengths and weaknesses, and improve as a web developer. I also try to branch out when I can and explore other areas of programming, and IT in general. It'd be great to be a full-stack developer one day.</p>
			</div>
		</div>
	</section>
	<div id="quote">
		<p>{{about.quote.quote}}</p>
		<p>-{{about.quote.author}}</p>
	</div>
	<section class="more-about-section">
		<div class="about-heading">
			<h1>More About Me</h1>
		</div>
		<div class="about-content">
			<p class="about-content-maintext">New York suburbanite. Musician. Gamer. Amateur bodybuilder (just kidding).</p>
			<div class="about-button-wrapper">
				<input class="about-button" type="button" value="Read More">
			</div>
			<div id="extra-more-about" class="about-more-content hidden">
				<p>I was born and raised in West Nyack, New York, and have lived here pretty much my whole life. I graduated with a Bachelor's Degree of Business Administration with a concentration in Marketing Management from the University at Albany in 2010.</p>
				<p>Some of my hobbies include playing guitar, listening to obscure music and trying to find people who actually have heard of it, (mostly retro) gaming, being somewhat of a YouTube junkie (shamelessly), and exercising religiously. Although I'm fairly new to the scene, I am also interested in putting together custom builds (computers). I've built one affordable but beastly gaming PC so far, and plan on assembling many more in the future.</p>
				<p>Put generally, I'm just a lover of all things interesting in life. If it's different and it stands out, I'm sure I can find some beauty in it, or at the very least find something to ponder over.</p>
				<p>What's important to me is to be successful in whatever I do, while still maintaining a balance of life, eventually reaching the point where I can enjoy work as if it were a hobby.</p>
			</div>
		</div>
	</section>
</div>