body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif; }

#about .hidden {
  display: none; }

#mast-head #menu .nav {
  display: inline-block; }
  #mast-head #menu .nav .spacer {
    width: 20%; }
  #mast-head #menu .nav li {
    display: inline-block;
    margin: 1em;
    padding: 1em;
    font-weight: bold; }

#mast-head #menu .nav-email {
  padding: 0;
  letter-spacing: 1.5px; }

#mast-head #menu .nav-buttons {
  float: right; }
  #mast-head #menu .nav-buttons .nav-button {
    border: 2px solid black; }
    #mast-head #menu .nav-buttons .nav-button a {
      text-decoration: none;
      color: black; }
    #mast-head #menu .nav-buttons .nav-button a:hover {
      color: grey; }

#mast-head header {
  margin: 5em auto; }
  #mast-head header .mast-head-heading {
    font-family: "Droid Sans", sans-serif;
    font-size: 8em;
    font-weight: bolder;
    margin-bottom: 0; }
  #mast-head header .mast-head-intro p {
    color: #00B16A;
    text-align: center;
    font-size: 2.5em; }
  #mast-head header .mast-head-intro #sub {
    font-family: "Droid Sans", serif;
    letter-spacing: 2px; }

#about {
  margin: 13em 0; }
  #about div {
    width: 45%;
    display: inline-block; }
  #about .about-heading h1 {
    font-size: 3em; }
  #about .about-content p {
    font-size: 1.3em; }
  #about .about-content .about-button-wrapper {
    width: 100%;
    text-align: center; }
    #about .about-content .about-button-wrapper input {
      font-size: 1.5em;
      border-radius: 0.25em;
      background-color: white; }
  #about #quote {
    margin: 3em 0;
    width: 100%;
    font-style: italic;
    font-weight: bold;
    font-size: 2em;
    text-align: center; }
