body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  color: #1B1A1A; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  height: 100%; }
  html .grid {
    max-width: 80em;
    padding: 0 4em; }
  html body {
    background-color: #e8e8e8;
    height: 100%; }
    html body #mast-content {
      margin-bottom: 17em;
      margin-top: 8em; }
    html body #about .hidden {
      display: none; }
    html body .hidden {
      display: none; }

@media screen and (min-width: 550px) {
  html body #mast-content {
    margin-top: 13em; } }

.button {
  display: inline-block;
  margin: 1em;
  padding: 1em;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 3px;
  font-size: 1em;
  text-decoration: none;
  color: black; }

.button-projects {
  border: none; }

.button:hover {
  color: grey; }

@media screen and (min-width: 550px) {
  .button-projects {
    font-size: 1.5em; } }

#mast-head #menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 5em;
  background-color: rgba(232, 232, 232, 0.5); }
  #mast-head #menu .dropdown {
    display: inline-block;
    position: relative;
    float: right;
    margin: 2em; }
    #mast-head #menu .dropdown .dropbtn {
      background-color: #347137;
      color: white;
      padding: 6px 11px;
      padding-bottom: 8px;
      line-height: 6px;
      height: 2.3em;
      font-size: 16px;
      border: none;
      cursor: pointer; }
      #mast-head #menu .dropdown .dropbtn span {
        display: block;
        width: 19px;
        height: 3px;
        margin: 4px 0;
        background: white;
        z-index: 99; }
    #mast-head #menu .dropdown .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      right: 0.2em; }
      #mast-head #menu .dropdown .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border: 1px solid grey; }
  #mast-head #menu .nav-buttons {
    display: none; }
  #mast-head #menu .nav-email {
    display: none; }
  #mast-head #menu .nav-mobile {
    display: inline-block;
    padding: 2em; }
    #mast-head #menu .nav-mobile img {
      width: 1.5em; }

@media screen and (min-width: 768px) {
  #mast-head #menu {
    position: static; }
    #mast-head #menu .nav-email, #mast-head #menu .nav-buttons {
      display: inline-block; }
      #mast-head #menu .nav-email li, #mast-head #menu .nav-buttons li {
        display: inline-block; }
    #mast-head #menu .nav-email {
      padding: 0;
      letter-spacing: 1.5px; }
    #mast-head #menu .nav-buttons {
      float: right; }
      #mast-head #menu .nav-buttons .nav-button {
        border: 2px solid black; }
        #mast-head #menu .nav-buttons .nav-button a {
          text-decoration: none;
          color: black; }
        #mast-head #menu .nav-buttons .nav-button a:hover {
          color: grey; }
    #mast-head #menu .nav-mobile, #mast-head #menu .dropdown, #mast-head #menu .dropdown-content {
      display: none; } }

header {
  margin: 5em auto; }
  header .mast-head-heading {
    font-family: "Droid Sans", sans-serif;
    font-size: 5em;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 0; }
  header .mast-head-intro p {
    color: #00B16A;
    font-size: 2em; }
  header .mast-head-intro #sub {
    font-family: "Droid Sans", serif;
    letter-spacing: 2px; }

@media screen and (min-width: 768px) {
  header .mast-head-heading {
    font-size: 6em;
    text-align: left; } }

#about {
  margin: 3em 0; }
  #about div {
    width: 100%;
    display: inline-block;
    vertical-align: top; }
  #about .about-heading h1 {
    font-size: 3em; }
  #about .about-content p {
    font-size: 1.3em; }
  #about .about-content .about-button-wrapper {
    width: 100%;
    text-align: center; }
  #about .about-more-content {
    width: 100%;
    margin-top: 3em; }
    #about .about-more-content p {
      margin: 1em auto;
      max-width: 60em;
      text-indent: 1em; }
  #about #quote {
    margin: 3em 0;
    width: 100%;
    font-style: italic;
    font-weight: bold;
    font-size: 2em;
    text-align: center; }

@media screen and (min-width: 550px) {
  #about {
    margin: 7em 0; }
    #about div {
      width: 45%; }
    #about .about-heading h1 {
      font-size: 2em; }
    #about .about-content p {
      font-size: 1em; } }

@media screen and (min-width: 768px) {
  #about .about-heading h1 {
    font-size: 3em; }
  #about .about-content p {
    font-size: 1.3em; } }

#projects .project-main, #projects .project-details {
  display: block; }

#projects .project {
  margin: 4em 0; }
  #projects .project h2 {
    font-size: 2em;
    text-align: center; }
  #projects .project .project-main, #projects .project .project-details {
    width: 100%; }
  #projects .project .project-main .proj-pic {
    margin: 2em auto;
    width: 100%;
    border: 1px solid grey; }
  #projects .project .project-details {
    float: right;
    margin-top: 0;
    margin-bottom: 2em;
    text-align: center; }
    #projects .project .project-details ul, #projects .project .project-details p {
      padding: 0; }
    #projects .project .project-details li {
      display: inline-block; }
    #projects .project .project-details p {
      margin: 0 auto;
      max-width: 30em;
      text-align: left;
      font-size: 0.7em; }

@media screen and (min-width: 550px) {
  #projects .project .project-details {
    margin-bottom: 4em; }
    #projects .project .project-details p {
      font-size: 1em; } }

@media screen and (min-width: 768px) {
  #projects .project-main, #projects .project-details {
    display: inline-block; }
  #projects .project {
    margin: 6em 0; }
    #projects .project .project-main {
      width: 55%; }
    #projects .project .project-details {
      width: 40%;
      margin-top: 2em; } }

#mast-footer {
  background-color: #1B1A1A;
  min-height: 20%;
  color: #e8e8e8; }
  #mast-footer p {
    text-align: center;
    padding-top: 2em; }
  #mast-footer #social {
    margin: 0 auto;
    padding: 0;
    text-align: center; }
    #mast-footer #social li {
      display: inline-block;
      text-decoration: none;
      padding: 1em 2em 2em 2em;
      font-size: 1.2em; }
      #mast-footer #social li a {
        color: white; }
      #mast-footer #social li a:hover {
        color: grey; }
  #mast-footer #footer-email {
    text-align: center;
    color: white;
    letter-spacing: 1.5px;
    padding-top: 0;
    padding-bottom: 3em; }

@media screen and (min-width: 768px) {
  #mast-footer #footer-email {
    display: none; } }
