/*General*/
body {
	/* Typography*/
	color: #222222;
	font-size: 1.4em;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	/*Layout*/
	margin: auto;
}

.masthead-intro,
.masthead-heading,
.my-menu,
.content-quote,
.about h1,
.about h2,
.projects h1,
.project-sub,
.content-footer  {
	/*Typography*/
	text-align: center;
}

.introduction-section, 
.location-section,
.questions-section,
.projects {
	/*Layout*/
	margin: 1em;
}

.introduction-section h1, 
.location-section h1,
.questions-section h1,
.projects h1 {
	/*Typography*/
	font-family: "Source Sans Pro", sans-serif;
}

.introduction-section > p, 
.location-section > p,
.content-footer > p {
	/*Typography*/
	font-weight: 300;
	letter-spacing: 0.05em;
}

section > h1, h2 {
	/*Layout*/
	margin-top: 2em;
	margin-bottom: 1em;
}

h2 {
	/*Typography*/
	font-style: italic;
	font-size: 1.6em;
}

/*Header*/
.masthead {
	/*Typography*/	
	color: white;
	/*Layout*/
	padding: 6em 0;
	background-image: url('../images-min/background1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.masthead-intro {
	/*Layout*/
	margin-bottom: 0.1em;
	margin-left: 6em;
	/*Typography*/
	font-family: "Gentium Book Basic", Georgia, serif;
	font-size: 2em;
}

.masthead-heading {
	/*Layout*/
	margin-top: -0.2em;
	/*Typography*/
	font-size: 8em;
	font-weight: bold;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	text-shadow: .04em .04em Gainsboro;
	letter-spacing: -0.02 em;
	text-transform: uppercase;
}

/*Menu*/
.nav-tabs>li {
	/*Layout*/
	float: none;
	display: inline-block;
	/*Typography*/
	font-size: 1.3em;
}

.active {
	/*Layout*/
	background-color: #eee;
	/*Typography*/
	color: black;
}

/*Content*/
#mast-content {
	/*Layout*/
	margin-top: 1.5em;
}

.content-quote {
	/*Layout*/
	margin: 4em 0;
	/*Typography*/
	font-style: italic;
	font-size: 1.5em;
	color: #6C7A89;
}

.about {
	/*Layout*/
	margin: 0 auto;
	max-width: 75em;
}

/*About*/
.about p {
	/*Typography*/
	text-indent: 1.5em;
	line-height: 1.4em;
	/*Layout*/
	margin: 10px auto;
	max-width: 50em;
}

.meek {
	/*Typography*/
	font-size: .7em;
}

.questions-section > h2 {
	/*Typography*/
	font-family: "Gentium Book Basic", Georgia, serif;
	font-weight: bold;
}

/*Projects*/
.projects {
	/*Layout*/
	padding-bottom: 3em;
	border-bottom: 2px solid black;
}

.projects > .projects-content {
	/*Layout*/
	max-width: 100%;
	margin: 0 auto;
}

.project-sub {
	font-style: italic;
	font-weight: bold;
}

.projects-content h2 {
	/*Layout*/
	text-align: center;
	padding-bottom: 1em;
	border-bottom: 2px solid grey;
}

.project,
.project > h2,
.project p {
	transition: 500ms linear all;
}

.project:hover > h2 {
	font-weight: bold;
	color: #019875;
}

.project:hover p {
	font-weight: bold;
	color: black;
}

.projects-content img {
	width: 20em;
	border: 1px solid grey;
	border-radius: 0.5em;
}

.projects-content p {
	/*Typography*/
	color: Grey;
	font-size: 1.2em;
}

.left-column {
	/*Typography*/
	text-align: left;
}

.right-column {
	/*Typography*/
	text-align: right;
}

/*Footer*/
.content-footer {
	/*Layout*/
	margin-left: auto;
	margin-right: auto;
	margin-top: 5em;
	background: #049372;
	padding: 5em 0;
}

.content-footer > p {
	/*Typography*/
	color: white;
}

.social {
	/*Layout*/
	padding-left: 0;
	margin-bottom: 2em;
}

.social > li {
	/*Layout*/
	display: inline-block;
	margin: 0.5em;
}

.content-footer a {
	/*Typography*/
	color: #049372;
	font-weight: bold;
	text-decoration: none;
	/*Layout*/
	padding: .3em .2em;
	background-color: white;
}

.content-footer p>a {
	border-radius: 0.3em;
}

.social a {
	/*Typography*/
	font-size: 1.5em;
	/*Layout*/
	border-radius: 1em;
}

.fa {
	/*Layout*/
	padding: 0 0.4em;
	/*Typography*/
	font-size: 1em;
}

.fa-facebook {
	padding: 0 0.5em;
}

.content-footer a:hover {
	/*Typography*/
	color: #545454;
}

/*Media Queries*/
@media only screen and (max-width: 320px) {
	.masthead {
		/*Layout*/
		padding: 3em 0;
	}

	.masthead-heading {
		/*Typography*/
		font-size: 3em;
	}

	/*About*/
	.about p {
		/*Typography*/
		font-size: 1.2em;
	}

	/*Projects*/
	.proj-pic {
		max-width: 10em;
	}

	.content-footer {
		/*Typography*/
		font-size: .75em;
		/*Layout*/
		padding: 3em;
	}
}

@media only screen and (max-width: 550px){
	.masthead-heading {
		/*Typography*/
		font-size: 4em;
	}

	.masthead-intro {
		/*Typography*/
		font-size: 1.3em;		
	}

	.social li {
		margin: 0.3em;
	}

}

@media only screen and (max-width: 992px){
	/*Header*/
	.masthead {
		/*Typography*/	
		background-image: url('../images-min/background1-mobile.jpg');
	}
	.nav-tabs>li {
		/*Typography*/
		font-size: 1.6em;
	}
	.col-md-6 {
		margin-bottom: 2em;
	}
}


