<div class="my-nav nav-icon" ui-sref-active="icon-active"><a ui-sref="home"><img src="images-min/gF.png" alt=""></a><p id="icon-text"><i class="fa fa-toggle-left"></i> Back home</p></div>

<ul class="my-nav nav-buttons">
	<li><a class="button button-nav" ui-sref="about" ui-sref-active="active">About Me</a></li>
	<li><a class="button button-nav" ui-sref="projects" ui-sref-active="active">My Work</a></li>
	<li><a class="button button-nav" href="mailto:gfederico7153@gmail.com">Contact</a></li>
</ul>

<div class="my-dropdown">
	<div id="my-dropbtn" class="my-dropbtn" ng-click="menu.toggle()">
		<span></span>
		<span></span>
		<span></span>
	</div>
	<div id="menu-dropdown-content" class="dropdown-content" ng-if="menu.open">
		<a ui-sref="about" ui-sref-active="active">About Me</a>
		<a ui-sref="projects" ui-sref-active="active">My Work</a>
		<a href="mailto:gfederico7153@gmail.com">Contact</a>
	</div>
</div>



