#about {
	margin: 3em 0;
	div {
		width: 100%;
		display: inline-block;
		vertical-align: top;
	}
	.about-heading {
		h1 {
			font-size: 3em;
		}
	}
	.about-content {
		p {
			font-size: 1.3em;
		}
		.about-button-wrapper {
			width: 100%;
			text-align: center;
		}
	}
	.about-more-content {
		width: 100%;
		margin-top: 3em;
		p {
			margin: 1em auto;
			max-width: 60em;
			text-indent: 1em;
		}
	}

	#quote {
		margin: 3em 0;
		width: 100%;
		font-style: italic;
		font-weight: bold;
		font-size: 2em;
		text-align: center;
	}
}

@media screen and ($fablet){
	#about {
		margin: 7em 0;
		div {
			width: 45%;
			padding-right: 1em;
		}
		.about-heading {
			h1 {
				font-size: 1.7em;
			}
		}
		.about-content {
			p {
				font-size: 1em;
			}
		}
	}
}

@media screen and ($tablet){
	#about {
		.about-heading {
			h1 {
				font-size: 2.3em;
			}
		}
		.about-content {
			p {
				font-size: 1.3em;
			}
		}
	}
}



