#about {
	margin: 13em 0;
	div {
		width: 45%;
		display: inline-block;
	}
	.about-heading {
		h1 {
			font-size: 3em;
		}
	}
	.about-content {
		p {
			font-size: 1.3em;
		}
		.about-button-wrapper {
			width: 100%;
			text-align: center;
			// input {
			// 	font-size: 1.5em;
			// 	border-radius: 0.25em;
			// 	background-color: white;
			// }
		}
	}
	.about-more-content {
		width: 100%;
		p {
			margin: 1em auto;
			max-width: 60em;
			text-indent: 1em;
		}
	}

	#quote {
		margin: 3em 0;
		width: 100%;
		font-style: italic;
		font-weight: bold;
		font-size: 2em;
		text-align: center;
	}
	
}