#about {
	div {
		width: 50%;
		display: inline-block;
	}
	.about-heading {
		h1 {
			font-size: 3em;
		}
	}

	#quote {
		margin: 3em 0;
		width: 100%;
		font-style: italic;
		font-weight: bold;
		font-size: 2em;
		text-align: center;
	}
	
}