// .button {
// 	font-size: 1em;
// 	border-radius: 0.25em;
// 	background-color: white;	
// }

.button {
	display: inline-block;
	margin: 1em;
	padding: 1em;
	font-weight: bold;
	border: 2px solid black;
	border-radius: 3px;
	font-size: 1em;
	text-decoration: none;
	color: black;
	transition: 250ms linear all;
	// a {
	// 	text-decoration: none;
	// 	color: black;
	// }
	// a:hover {
	// 	color: grey;
	// }
}

.button-projects {
	border: none;
}

// Animations

.button:hover, .button-projects:hover {
	background-color: #00B16A;
	color: rgba(232, 232, 232, 1);
}

	@media screen and ($fablet){
		.button {
			// font-size: 1.5em;
		}

		.button-projects {
			font-size: 1.5em;
			margin: 0.5em;
		}
	}