#mast-footer {
	background-color: black;
	min-height: 20%;
	#social {
		margin: 0 auto;
		padding: 0;
		text-align: center;
		li {
			display: inline-block;
			text-decoration: none;
			padding: 3em 1em;
			a {
				color: white;
			}
			a:hover {
				color: grey;
			}
		}
	}
}