#mast-footer {
	background-color: #1B1A1A;
	min-height: 20%;
	color: rgba(232, 232, 232, 1);
	p {
		text-align: center;
		padding-top: 2em;
	}
	#social {
		margin: 0 auto;
		padding: 0;
		text-align: center;
		li {
			display: inline-block;
			text-decoration: none;
			padding: 1em 2em 2em 2em;
			font-size: 1.2em;
			a {
				color: white;
			}
			a:hover {
				color: grey;
			}
		}
	}
	#footer-email {
		text-align: center;
		color: white;
		letter-spacing: 1.5px;
		padding-top: 0;
		padding-bottom: 3em;
		// font-weight: bold;

	}
}

@media screen and ($tablet){
	#mast-footer {
		#footer-email {
			display: none;
		}
	}
} 