#mast-head {
	#menu {
		// text-align: left;
		.nav {
			display: inline-block;
			// text-align: right;
			.spacer {
				width: 20%;
			}
			li {
				display: inline-block;
				margin: 1em;
				padding: 1em;
				font-weight: bold;
			}
		}
		.nav-email {
			padding: 0;
			letter-spacing: 1.5px;
		}
		.nav-buttons {
			float: right;
			.nav-button {
				border: 2px solid black;
				// background-color: #00B16A;
				a {
					text-decoration: none;
					// font-weight: bold;
					color: black;
				}
				a:hover {
					color: grey;
				}
			}			
		}
	}
	header{
		margin: 5em auto;
		// text-align: center;
		.mast-head-heading {
			color: #1E824C;
			font-size: 8em;
			margin-bottom: 0;
		}
		.mast-head-intro {
			p {
				// font-family: "Helvetica Neue", serif;
				color: #00B16A;
				text-align: center;
				font-size: 2.5em;
			}
			#sub {
				font-family: "Source Sans Pro", serif;
				letter-spacing: 2px;
				// text-align: right;
				// font-style: italic;
			}
		}	
	}

}