header {
	margin: 5em auto;
		// text-align: center;
	.mast-head-heading {
		font-family: "Lora", sans-serif;
		// color: #1E824C;
		font-size: 3.5em;
		text-align: center;
		font-weight: bolder;
		margin-bottom: 0;
	}
	.mast-head-intro {
		p {
			// font-family: "Helvetica Neue", serif;
			color: #00B16A;
			// text-align: center;
			font-size: 1.5em;
		}
		#sub {
			font-family: "Droid Sans", serif;
			// letter-spacing: 2px;
			// text-align: right;
			// font-style: italic;
		}
	}	
}

@media screen and ($mobile2){
	header {
		.mast-head-heading {
			font-size: 4.5em;
		}
	}
} 

@media screen and ($fablet){
	header {
		.mast-head-heading {
			font-size: 3.5em;
			text-align: left;
		}
	}	
}

@media screen and ($tablet){
	header {
		.mast-head-heading {
			font-size: 5.2em;
			text-align: left;
		}
	}
}



