header {
	margin: 5em auto;
		// text-align: center;
	.mast-head-heading {
		font-family: "Lora", sans-serif;
		// color: #1E824C;
		font-size: 5em;
		text-align: center;
		font-weight: bolder;
		margin-bottom: 0;
	}
	.mast-head-intro {
		p {
			// font-family: "Helvetica Neue", serif;
			color: #00B16A;
			// text-align: center;
			font-size: 2em;
		}
		#sub {
			font-family: "Droid Sans", serif;
			// letter-spacing: 2px;
			// text-align: right;
			// font-style: italic;
		}
	}	
}

// @media screen and ($mobile){
// 	header {
// 		.mast-head-heading {
// 			font-size: 5em;
// 			text-align: center;
// 		}
// 	}
// } 

@media screen and ($tablet){
	header {
		.mast-head-heading {
			font-size: 6em;
			text-align: left;
		}
	}	
}