*, *:before, *:after {
	box-sizing: inherit;
}

html {
	.grid {
		max-width: 80em;
		padding: 0 4em;
	}
	box-sizing: border-box;
	height: 100%;
	body {
		height: 100%;
		#mast-content {
			margin-bottom: 17em;
			margin-top: 8em;
		}
		#about {
			.hidden {
				display: none;
			}
		}
		.hidden {
			display: none;
		}
	}
}

@media screen and ($fablet){
	html {
		body {
			#mast-content {
				margin-top: 13em;
			}
		}
	}
} 



