*, *:before, *:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	height: 100%;
	body {
		.grid {
			max-width: 80em;
			padding: 0 2em;
		}
		background-color: rgba(232, 232, 232, 1);
		height: 100%;
		#mast-content {
			margin-bottom: 17em;
			margin-top: 8em;
		}
		#about {
			.hidden {
				display: none;
			}
		}
		.hidden {
			display: none;
		}
	}
}

@media screen and ($fablet){
	html {
		body {
			// .grid {
			// 	max-width: 80em;
			// 	padding: 0 4em;
			// }
			#mast-content {
				margin-top: 13em;
			}
		}
	}
} 



