#mast-head {
	#menu {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		height: 5em;
		background-color: rgba(232, 232, 232, 0.5);
		.dropdown {
			display: inline-block;
			position: relative;
			float: right;
			margin: 2em 1em;
			.dropbtn {
				background-color: #347137;
				color: white;
				padding: 6px 11px;
				padding-bottom: 8px;
				line-height: 6px;
				height: 2.3em;
				font-size: 16px;
				border: none;
				cursor: pointer;
				span {
					display: block;
					width: 19px;
					height: 3px;
					margin: 4px 0;
					background: white;
					z-index: 99;
				}
			}
			.dropdown-content {
				display: none;
				position: absolute;
				background-color: #f9f9f9;
				min-width: 160px;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				right: 0.2em;
				a {
					color: #1B1A1A;
					padding: 12px 16px;
					text-decoration: none;
					display: block;
					border: 1px solid grey;
				}
				.active {
					background-color: #00B16A;
					color: rgba(232, 232, 232, 1);
				}
			}
		}
		.nav {
			display: inline-block;
			li {
				font-weight: bold;
			}
		}
		.nav-buttons {
			display: none;
		}
		.nav-email {
			display: none;
		}
		.nav-icon {
			display: inline-block;
			padding: 2em 1em;
			a {
				text-decoration: none;
			}
			img {
				width: 1.5em;
				vertical-align: middle;
			}
		}
		#icon-text {
			transition: 250ms linear all;
			color: #155d40;
			font-size: 0.8em;
			display: inline-block;
			margin: 0 0.6em;

		}
		.icon-active {
			#icon-text {
				color: #E8E8E8;
			}
		}
	}
}



@media screen and ($tablet){
	#mast-head {
		#menu {
			position: static;
			.nav-email, .nav-buttons {
				display: inline-block;
				li {
					display: inline-block;
				}
			}
			.nav-email {
				padding: 2em 0;
				letter-spacing: 1.5px;
				a {
					color: #1B1A1A;
				}
			}
			.nav-buttons {
				float: right;
				.nav-button {
					border: 2px solid #1B1A1A;
					a {
						text-decoration: none;
						color: #1B1A1A;
					}
					a:hover {
						color: grey;
					}
				}			
			}
			.dropdown , .dropdown-content {
				display: none;
			}
		}
	}
}

