#projects {
	.project {
		h2 {
			font-size: 2em;
			text-align: center;
		}
		margin: 6em 0;
		.left-column, .right-column {
			width: 45%;
			display: inline-block;
			.proj-pic {
				width: 47em;
			}		
		}
	}
}