#projects {
	.project-main, .project-details {
		// text-align: center;
		display: block;
	}

	.project {
		h2 {
			font-size: 2em;
			text-align: center;
		}
		margin: 4em 0;
		.project-main, .project-details {
				width: 100%;
			}
		.project-main {
			.proj-pic {
				margin: 2em auto;
				width: 100%;
				border: 1px solid grey;
			}		
		}
		.project-details {
			float: right;
			margin-top: 0;
			margin-bottom: 2em;
			text-align: center;
			ul, p {
				padding: 0;
			}
			li {
				display: inline-block;
			}
			p {
				margin: 0 auto;
				max-width: 30em;
				text-align: left;
				// font-style: italic;
				font-size: 0.7em;
			}
		}	
	}
}

// @media screen and ($tablet){
// 	#projects {
// 		.project-main, .project-details {
// 			display: block;
// 		}
// 		.project {
// 			margin: 4em 0;
// 			.project-main, .project-details {
// 				width: 100%;
// 			}
// 			.project-main {
// 				// margin-top: 4em;
// 			}
// 			.project-details {
// 				margin-top: 0;
// 				margin-bottom: 4em;
// 				text-align: center;
// 				ul {

// 				}
// 				p {
// 					margin: 0 auto;
// 				}
// 			}
// 		}
// 	}
// }

// @media screen and ($mobile){
// 	#projects {
// 		.project {
// 			.project-details {
// 				margin-bottom: 2em;
// 				p {
// 					font-size: 0.7em;
// 				}
// 			}
// 		}
// 	}
// }

@media screen and ($fablet){
	#projects {
		.project {
			.project-details {
				margin-bottom: 4em;
				p {
					font-size: 1em;
				}
			}
		}
	}
}

@media screen and ($tablet){
	#projects {
		.project-main, .project-details {
		// text-align: center;
			display: inline-block;
		}
		.project {
			margin: 6em 0;
			.project-main {
				width: 55%;	
			}
			.project-details {
				width: 40%;
				margin-top: 2em;
			}	
		}
	}
}


